body {
    margin: 0;
}

h1,
h2 {
    margin-bottom: 1rem;
}

.logo{
    font-size: x-large;
    font-weight: 1000;
} 



section {
    padding: 4rem 2rem;
    animation: fadeIn 1s ease-in;
} 

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: #2f26e7;
    color: white
} 


.nav a {
    margin-left: 1rem;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav a:hover {
    color: rgb(9, 9, 117);
}





.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-text {
    max-width: 1000px;
    font-size: xx-large;
}

.hero-img img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-top: 2rem;
}

.highlight {
    animation: colorChange 1s infinite;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
}

.procont {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}  




.container1 {
    height: 500px;
    width: 80vw;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 2px whitesmoke;
    margin-bottom: 20px;
    background:whitesmoke ;
    background-image: url(/portfolio.jpg);
    background-size: cover;
    
}  
.container2 {
    height: 500px;
    width: 80vw;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 2px whitesmoke;
    margin-bottom: 20px;
    background:whitesmoke ;
    background-image:url(/amazon\ clone.jpg) ;
    background-size: cover;
}  


.card {
    background: blue;
    padding: 2rem;
    text-align: center;
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
} 

.card:hover {
    box-shadow: 0 16px 32px hsla(283, 78%, 4%, 0.2);
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}  

input,
textarea {
    border: 1px solid #e2d9d9;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 7px;
} 



.footer {
    background: #2f26e7;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.footer a {
    color: #2f26e7;
    margin: 0 0.5rem;
    text-decoration: none;
}

button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.Back{
    margin-left: 92.5%;
    margin-bottom: 2px;
} 






@keyframes colorChange {
    0% {color: hwb(60 8% 2%);}

    50% {color: hwb(0 10% 7%);}

    75% {color: chartreuse;}

    100% {color: #6cdbe8;}
}


@keyframes fadeIn {
    from {transform: translateY(20px)}

    to {transform: translateY(0);}
} 


@media (min-width: 768px) {
  .hero {
    flex-direction: row;
    text-align: left;
    justify-content: space-around;
  }
  .hero-img img {
    margin-top: 0;
  }
}